/*--------------------------------------------------------- 
                    #Index 
---------------------------------------------------------

#Global  
    #Variables
#HelperClasses 
#Modifications
    
*/

/*--------------------------------------------------------- 
                    #Global 
---------------------------------------------------------*/


/*----------
#Variables
---------*/

:root {
    --main: #26BF66;
    --light-accent: #59B7CC;
    --dark-accent: #7A616C;
    --light: #F4EFF2;
    --dark: #111118;

    --bottom-margin: 0 0 1rem 0;
    --bigger-margin: 0 0 2rem 0;
    --box-shadow: 4px 4px 8px 0px #11111833;
    --box-shadow-top: 0 0 8px 0px #11111833;
    --box-shadow-inset: inset 0px 1px 4px 1px  #111118;
    --default-radius: 8px;
  
  }


  /*--------------------------------------------------------- 
                    #HelperClasses 
---------------------------------------------------------*/

.background {
    background-image: url("../images/white-waves.png");
    background-attachment: fixed;
  }
  
   .inset{
    box-shadow: var(--box-shadow-inset);
  }
  
  .inset-background-cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    box-shadow: var(--box-shadow-inset);
   }
   @media (max-width: 500px) {
    .inset-background-cover {
      background-attachment: scroll;
      background-size: cover;
    }
  }
  
  .inset-background-right {
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    box-shadow: var(--box-shadow-inset);
  }
  @media (max-width: 500px) {
    .inset-background-right {
      background-attachment: scroll;
      background-size: cover;
    }
  }
  
  .inset-background-left {
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    box-shadow: var(--box-shadow-inset);
  }
  @media (max-width: 500px) {
    .inset-background-left {
      background-attachment: scroll;
      background-size: cover;
    }
  }

  .shadow-radius {
      border-radius: var(--default-radius);
      box-shadow: var(--box-shadow);
  }


/*--------------------------------------------------------- 
                    #Modifications 
---------------------------------------------------------*/

.has-background-success a {
    color: var(--dark);
    text-decoration: underline;
}

.footer {
    box-shadow: var(--box-shadow-top);
}

.navbar-brand img {
  max-height: 5rem;
}

.footer img {
  max-height: 10rem;
}