/* cd into bulma-start then run npm start and these changes will be updated */

@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.


// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// Colors

$black:        hsl(343, 20%, 3%);
$black-bis:    hsl(343, 20%, 7%);
$black-ter:    hsl(343, 20%, 14%);

// $grey-darker:  hsl(0, 0%, 21%) !default
// $grey-dark:    hsl(0, 0%, 29%) !default
// $grey:         hsl(0, 0%, 48%) !default
// $grey-light:   hsl(0, 0%, 71%) !default
// $grey-lighter: hsl(0, 0%, 86%) !default
// $grey-lightest: hsl(0, 0%, 93%) !default

$white-ter:    hsl(346, 81%, 92%);
$white-bis:    hsl(346, 81%, 94%);
$white:        hsl(346, 81%, 96%);

$pink:          hsl(346, 84%, 61%);

// $orange:       hsl(14,  100%, 53%) !default
$yellow:       #f98121;
$green:        #7b9159;
// $turquoise:    hsl(171, 100%, 41%) !default
$cyan:         #84DCCF;
// $blue:         hsl(217, 71%,  53%) !default
// $purple:       hsl(271, 100%, 71%) !default
$red:          #f44336;

// Typography

$family-sans-serif: 'Balsamiq Sans', BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$family-display: 'Emilys Candy', 'Balsamiq Sans', BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
// $family-monospace: monospace !default
// $render-mode: optimizeLegibility !default

$size-1: 4rem;
$size-2: 3rem;
$size-3: 2.5rem;
$size-4: 2rem;
$size-5: 1.3rem;
// $size-6: 1rem !default
// $size-7: 0.75rem !default

// $weight-light: 300 !default
// $weight-normal: 400 !default
// $weight-medium: 500 !default
// $weight-semibold: 600 !default
// $weight-bold: 700 !default

// Spacing

// $block-spacing: 1.5rem !default

// Responsiveness

// The container horizontal gap, which acts as the offset for breakpoints
// $gap: 32px !default
// 960, 1152, and 1344 have been chosen because they are divisible by both 12 and 16
// $tablet: 769px !default
// 960px container + 4rem
// $desktop: 960px + (2 * $gap) !default
// 1152px container + 4rem
// $widescreen: 1152px + (2 * $gap) !default
// $widescreen-enabled: true !default
// 1344px container + 4rem
// $fullhd: 1344px + (2 * $gap) !default
// $fullhd-enabled: true !default

// Miscellaneous

// easing: ease-out !default
// radius-small: 2px !default
// radius: 4px !default
// radius-large: 6px !default
// radius-rounded: 290486px !default
// speed: 86ms !default

// Flags

// variable-columns: true !default




$primary: $pink;

$info: $cyan;
// $success: $green !default
// $warning: $yellow !default
// $danger: $red !default

// $light: $white-ter !default
// $dark: $grey-darker !default

// Invert colors

// $orange-invert: findColorInvert($orange) !default
// $yellow-invert: findColorInvert($yellow) !default
// $green-invert: findColorInvert($green) !default
// $turquoise-invert: findColorInvert($turquoise) !default
// $cyan-invert: findColorInvert($cyan) !default
// $blue-invert: findColorInvert($blue) !default
// $purple-invert: findColorInvert($purple) !default
// $red-invert: findColorInvert($red) !default

// $primary-invert: findColorInvert($primary) !default
// $primary-light: findLightColor($primary) !default
// $primary-dark: findDarkColor($primary) !default
// $info-invert: findColorInvert($info) !default
// $info-light: findLightColor($info) !default
// $info-dark: findDarkColor($info) !default
// $success-invert: findColorInvert($success) !default
// $success-light: findLightColor($success) !default
// $success-dark: findDarkColor($success) !default
// $warning-invert: findColorInvert($warning) !default
// $warning-light: findLightColor($warning) !default
// $warning-dark: findDarkColor($warning) !default
// $danger-invert: findColorInvert($danger) !default
// $danger-light: findLightColor($danger) !default
// $danger-dark: findDarkColor($danger) !default
// $light-invert: findColorInvert($light) !default
// $dark-invert: findColorInvert($dark) !default

// General colors

// $scheme-main: $light;
// $scheme-main-bis: $white-bis !default
// $scheme-main-ter: $white-ter !default
// $scheme-invert: $black !default
// $scheme-invert-bis: $black-bis !default
// $scheme-invert-ter: $black-ter !default

// $background: $black-bis;

// $border: $grey-lighter !default
// $border-hover: $grey-light !default
// $border-light: $grey-lightest !default
// $border-light-hover: $grey-light !default

// Text colors

$text: $black;
// $text-invert: findColorInvert($text) !default
// $text-light: $grey !default
// $text-strong: $grey-darker !default

// Code colors

// $code: $red !default
// $code-background: $background !default

// $pre: $text !default
// $pre-background: $background !default

// Link colors

// $link: $blue !default
// $link-invert: findColorInvert($link) !default
// $link-light: findLightColor($link) !default
// $link-dark: findDarkColor($link) !default
// $link-visited: $purple !default

// $link-hover: $grey-darker !default
// $link-hover-border: $grey-light !default

// $link-focus: $grey-darker !default
// $link-focus-border: $blue !default

// $link-active: $grey-darker !default
// $link-active-border: $grey-dark !default

// Typography

// $family-primary: $family-sans-serif !default
$family-secondary: $family-display;
// $family-code: $family-monospace !default

// $size-small: $size-7 !default
// $size-normal: $size-6 !default
// $size-medium: $size-5 !default
// $size-large: $size-4 !default

// Lists and maps
// $custom-colors: null !default
// $custom-shades: null !default

// $colors: mergeColorMaps(("white": ($white, $black), "black": ($black, $white), "light": ($light, $light-invert), "dark": ($dark, $dark-invert), "primary": ($primary, $primary-invert, $primary-light, $primary-dark), "link": ($link, $link-invert, $link-light, $link-dark), "info": ($info, $info-invert, $info-light, $info-dark), "success": ($success, $success-invert, $success-light, $success-dark), "warning": ($warning, $warning-invert, $warning-light, $warning-dark), "danger": ($danger, $danger-invert, $danger-light, $danger-dark)), $custom-colors) !default
// $shades: mergeColorMaps(("black-bis": $black-bis, "black-ter": $black-ter, "grey-darker": $grey-darker, "grey-dark": $grey-dark, "grey": $grey, "grey-light": $grey-light, "grey-lighter": $grey-lighter, "white-ter": $white-ter, "white-bis": $white-bis), $custom-shades) !default

// $sizes: $size-1 $size-2 $size-3 $size-4 $size-5 $size-6 $size-7 !default




// $body-background-color: $scheme-main;
// $body-size: 16px;
// $body-min-width: 300px;
// $body-rendering: optimizeLegibility;
// $body-family: $family-primary;
// $body-overflow-x: hidden;
// $body-overflow-y: scroll;

// $body-color: $text;
// $body-font-size: 1em;
// $body-weight: $weight-normal;
// $body-line-height: 1.5;

// $code-family: $family-code;
// $code-padding: 0.25em 0.5em 0.25em;
// $code-weight: normal;
// $code-size: 0.875em;

// $small-font-size: 0.875em;

// $hr-background-color: $background;
// $hr-height: 2px;
// $hr-margin: 1.5rem 0;

// $strong-color: $text-strong;
// $strong-weight: $weight-bold;

// $pre-font-size: 0.875em;
// $pre-padding: 1.25rem 1.5rem;
// $pre-code-font-size: 1em;

// html
//   background-color: $body-background-color
//   font-size: $body-size
//   -moz-osx-font-smoothing: grayscale
//   -webkit-font-smoothing: antialiased
//   min-width: $body-min-width
//   overflow-x: $body-overflow-x
//   overflow-y: $body-overflow-y
//   text-rendering: $body-rendering
//   text-size-adjust: 100%

// article,
// aside,
// figure,
// footer,
// header,
// hgroup,
// section
//   display: block

// body,
// button,
// input,
// select,
// textarea
//   font-family: $body-family

// code,
// pre
//   -moz-osx-font-smoothing: auto
//   -webkit-font-smoothing: auto
//   font-family: $code-family

// body
//   color: $body-color
//   font-size: $body-font-size
//   font-weight: $body-weight
//   line-height: $body-line-height

h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: $family-display
}
    

// // Inline

// a
//   color: $link
//   cursor: pointer
//   text-decoration: none
//   strong
//     color: currentColor
//   &:hover
//     color: $link-hover

// code
//   background-color: $code-background
//   color: $code
//   font-size: $code-size
//   font-weight: $code-weight
//   padding: $code-padding

// hr
//   background-color: $hr-background-color
//   border: none
//   display: block
//   height: $hr-height
//   margin: $hr-margin

// img
//   height: auto
//   max-width: 100%

// input[type="checkbox"],
// input[type="radio"]
//   vertical-align: baseline

// small
//   font-size: $small-font-size

// span
//   font-style: inherit
//   font-weight: inherit

// strong
//   color: $strong-color
//   font-weight: $strong-weight

// // Block

// fieldset
//   border: none

// pre
//   +overflow-touch
//   background-color: $pre-background
//   color: $pre
//   font-size: $pre-font-size
//   overflow-x: auto
//   padding: $pre-padding
//   white-space: pre
//   word-wrap: normal
//   code
//     background-color: transparent
//     color: currentColor
//     font-size: $pre-code-font-size
//     padding: 0

// table
//   td,
//   th
//     vertical-align: top
//     &:not([align])
//       text-align: left
//   th
//     color: $text-strong


@import "../node_modules/bulma/bulma";
